{
	"overrides": [
		{
			"files": "*.sol",
			"options": {
				"printWidth": 80,
				"tabWidth": 2,
				"useTabs": false,
				"singleQuote": false,
				"bracketSpacing": false,
				"explicitTypes": "always"
			}
		}
	],
	"semi": false,
	"singleQuote": true,
	"printWidth": 80,
	"useTabs": true,
	"trailingComma": "none"
}
